@charset "UTF-8";
main {
    background-image: url('../image/boardList.jpg');
    background-position: center;
    background-size: cover;
	width: 100%;
    height: calc(100vh - 60px);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    margin-top: -200px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.72);
}
th, td {
    padding-bottom: 10px;
}

td{
    padding-right: 10px;
}
