@charset "UTF-8";
textarea{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.726);
    padding: 10px; 
    margin-top: 10px;
}
.add-file{
    width: 200px;
    background: none;
}
form{
    width: 800px;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    justify-content: space-around;
}
input{
    margin-top: 10px;
    width: 800px;
}
.btn-box{
    display: flex;
    align-self: flex-end;
}
button{
    margin-left: 10px;
}