<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="BoardMapper">
  
  	<select id="list" resultType="bvo">
  		select * from board 
  		<include refid="search"></include>
  		order by bno desc limit #{pageStart}, #{qty}
  	</select>
  	
  	<select id="total" resultType="int">
  		select count(bno) from board
  		<include refid="search"></include>
  	</select> 
  	
  	<insert id="reg">
  		insert into board(title, writer, content)
  		value (#{title}, #{writer}, #{content})
  	</insert>
  
	 <!-- 예비구문 -->
	 <sql id="search">
	  <if test="type != null">
	  	<trim prefix="where (" suffix=")" prefixOverrides="or">
	  		<foreach collection="typeToArray" item="type">
	  			<trim prefix="or">
	  				<choose>
	  					<!-- .toString은 문자로 인지시켜주려고 붙임 -->
	  					<when test="type == 't'.toString()">
	  						title like concat('%', #{keyword}, '%')
	  					</when>
	  					<when test="type == 'c'.toString()">
	  						content like concat('%', #{keyword}, '%')
	  					</when>
	  					<when test="type == 'w'.toString()">
	  						writer like concat('%', #{keyword}, '%')
	  					</when>
	  				</choose>
	  			</trim>
	  		</foreach>
	  	</trim>
	  </if>
	 </sql>
  </mapper>